__pycache__
__init__.py
*.pyc
RF_Wattmeter_Teensy41\nextion_patched\ITEADLIB_Arduino_Nextion_patched\doc
RF_Wattmeter_Teensy41\nextion_patched\ITEADLIB_Arduino_Nextion_patched\html
RF_Wattmeter_Teensy41\nextion_patched\ITEADLIB_Arduino_Nextion_patched\latex
build/libraries.cache
*.d
*build/**
*.json
*/doc/*
*/examples/*
*/html/*
*/latex/*
*.vscode/*
RF_Wattmeter_Teensy41_PCB_V1/.vscode/RF_Wattmeter_Teensy41_PCB_V1/RF_Wattmeter_Teensy41_PCB_V1.h
RF_Wattmeter_Teensy41_PCB_V1/.vscode/RF_Wattmeter_Teensy41_PCB_V1/RF_Wattmeter_Teensy41_PCB_V1.ino
